<header>
    <div class="container">
        <div class="row">
            <div class="column">
            </div>
            <div class="column">
                <ul class="nav">
                    <li><a href="#">ข่าวสาร</a></li>
                    <li><a href="#">รอการชำระ</a></li>
                    <li><a href="#">คูปองของฉัน</a></li>
                    <li><a href="#">ออกจากระบบ</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<section class="showcase">
    <div class="container">
        <div class="row">
            <div class="tabs">
                <div class="tab-nav">
                    <ul>
                        <li><a href="#classic" class="active">กำลังเปิดจอง</a></li>
                        <li><a href="#average">พรุ่งนี้</a></li>
                        <li><a href="#proper">เร็วๆนี้</a></li>
                    </ul>
                </div>
                <div id="classic" class="tab-content active">
                    <div class="row">
                        <div class="column">
                            <div>
                                <h3>สายพันธุ์ Purple Kush</h3>
                                <p>สายพันธุ์ที่มาจากหุบเขาที่อุดมสมบูรณ์และมีความลาดชันของพื้นที่เทือกเขาฮินดูกูช 100%</p>
                            </div>
                        </div>
                        <div class="column"><img height='300px' src="assets/img/mm.png" /></div>
                    </div>
                </div>
                <div id="average" class="tab-content">
                    <div class="row">
                        <div class="column">
                            <h3>สายพันธุ์ Purple Urkle</h3>
                            <p>มีรสหวานชวนให้นึกถึงผลไม้เมืองร้อนและองุ่นสุกและกลิ่นเหม็นของผลไม้ </p>
                        </div>
                        <div class="column"><img height='300px' src="assets/img/mmmm2.jpg" /></div>
                    </div>
                </div>
                <div id="proper" class="tab-content">
                    <div class="row">
                        <div class="column">
                            <h3>สายพันธุ์ Grand daddy purple</h3>
                            <p>เป็นลูกผสมระหว่าง Purple Urkle และ Big Bud พ่อพันธ์จากแคลิฟอร์เนีย ได้รับพันธุกรรมที่มีความซับซ้อนและมีกลิ่นบางๆเหมือนผลไม้เล็กๆ</p>
                        </div>
                        <div class="column"><img height='300px' src="assets/img/mm3.jpg" /></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>